<form method="post" class="form-wrapper">{% csrf_token %}
    {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
    {% endif %}
<!--    {{ form.as_ul }}-->
    {{ form.name.errors }}
    <input type="text" class="form-control" placeholder="Your name" name="name" value="{{ form.name.value }}">
    {{ form.email.errors }}
    <input type="text" class="form-control" placeholder="Email address" required name="email" value="{{ form.email.value }}">
    {{ form.website.errors }}
    <input type="text" class="form-control" placeholder="Website" name="website" value="{{ form.website.value }}">
    {{ form.comment.errors }}
    <textarea class="form-control" placeholder="Your comment" name="comment">{{ form.comment.value }}</textarea>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>